%h1.main-title Profile
%hr

.avatar-container.clearfix
	= image_tag (@user.avatar_url), alt: '', class: 'avatar s160'

= form_for @user, url: profile_path, method: :put, html: { multipart: true, class: 'form-horizontal' } do  |f|
	= render 'shared/error_messages', :object => f.object
	.row
		.col-md-12
			.form-group
				= f.label :email, class: 'control-label'
				.col-sm-8
					= f.text_field :email, class: 'form-control'
			.form-group
				= f.label :name, class: 'control-label'
				.col-sm-8
					= f.text_field :name, class: 'form-control'
			.form-group
				= f.label :avatar, class: 'control-label'
				.col-sm-8
					= f.file_field :avatar, class: 'form-control'
	.form-action
		= f.submit 'Update', class: 'btn btn-success'