- if @blog.errors.any?
	.alert.alert-danger
		%ul
			- @blog.errors.full_messages.each do |msg|
				%li= msg

= form_for @blog, html: { class: 'form-horizontal' , multipart: true } do |f|
	.row 
		.col-md-12
			.form-group
				= f.label :title, class: 'control-label'
				.col-sm-8
					= f.text_field :title, class: 'form-control'
			.form-group
				= f.label :excerpt, class: 'control-label'
				.col-sm-8
					= f.text_area :excerpt, class: 'form-control'
			.form-group
				= f.label :content, class: 'control-label'
				.col-sm-8
					= f.cktext_area :content, class: 'form-control'
			.form-group
				= f.label :banner, class: 'control-label'
				.col-sm-8
					= f.file_field :banner, class: 'form-control'
	.form-actions
		= f.submit "Save", class: 'btn btn-success'