<nav class="navbar navbar-inverse nav-sidebar">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "Ph Trips", root_path, class: 'navbar-brand' %>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li><%= link_to 'Blogs', blogs_path %></li>
				<li><%= link_to 'Forum', forum_threads_path %></li>
				<li><%= link_to 'Profile', profile_path %></li>
				<% if current_user.is_admin? %>
					<li><%= link_to 'Categories', admin_categories_path %></li>
					<li><%= link_to 'Destinations', admin_destinations_path %></li>
					<li><%= link_to 'Hotels', admin_hotels_path %></li>
				<% end %>
				<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Login', new_user_session_path %></li>
				<li><%= link_to 'Register', new_user_registration_path %></li>
			<% end %>
		</ul>
	</div>
</nav>