%ul.discussion
	%li.item
		= link_to image_tag(avatar_icon(forum_thread.user.email, 45)), '#', class: "user-profile"
		.item-content
			.title= link_to forum_thread.subject, forum_thread_path(forum_thread)
			.meta 
				%span.mitem 1 views
				%span.mitem= "#{forum_thread.forum_posts.count} comments" 
				%span.mitem= "Started by #{forum_thread.user.name}"
				%span.mitem= forum_thread.created_at.strftime('%B %d')