%h1= @guide.title
%hr

.banner-container
	%p= @guide.description
	= image_tag (@guide.banner_url), class: 'banner' if @guide.banner?

- if @guide.comments.any?
	%h1 Comments
	%ul.discussion
		- @guide.comments.each do |comment|
			%li.item
				= link_to image_tag(avatar_icon(comment.user.email, 45)), '#', class: "user-profile"
				.item-content
					.title= comment.user.name
					.meta 
						%p.mitem= comment.body